div.CA_event_detail{
/*    background: #eee;*/
}

    div.CA_event_detail > div{
        font-size: 120%;
    }
div.CA_event_detail > .title {
    font-size: 120%;
    padding:5px;
    position: relative;
}

    div.CA_event_detail > .title > ._small_button{
        display: inline-block;
        position: absolute;
        left:0px;
        top:0px;
        bottom:0;
        padding:0;
        width:40px;
        text-align: center;
        font-size: 35px;
        vertical-align: middle;
        cursor: pointer;
        border-right:1px solid white;
        border-radius: 0 5px 5px 0;
    }

    div.CA_event_detail > .title > .calendar {
        /*font-size: 110%;*/
        font-weight: bold;
        display: block;
        margin-left: 45px;
    }   
    
    div.CA_event_detail > .title > .object{
        margin-left: 45px;
    } 
    
div.CA_event_detail > .event_title{
    color:#555555;
    text-decoration: none;
    font-weight: bold;
    font-size: 130%;
    border-bottom: 0px;
    padding:5px;
}
    div.CA_event_detail > .event_title > .dates{
        display: block;
        font-size: 85%;
        font-weight: normal;
        
    }
    
div.CA_event_detail > .message{
    margin-top: 3px;
    display: none;
    background-color: #FC0;
    padding:3px;
    border-radius: 3px;
    border:1px solid #ddd;
}
div.CA_event_detail > .message.show{
    display: block;
}


div.CA_event_detail > .fields{
    position: absolute;
    top:100px;
    bottom:50px;
    left:0;
    right:0;
    overflow: auto;
    padding:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}

div.CA_event_detail > .fields._hide{
    display:none;
}
    div.CA_event_detail > .fields > p{
        margin:0;
        padding:5px 0 10px;
        background:#F5F5F5;
        border-top:1px solid white;
        border-bottom:1px solid #eee;
    }
    
    div.CA_event_detail > .fields > p:nth-child(odd){
        background:#FAFAFA;
    }
    
        div.CA_event_detail > .fields > p > b{
            display: block;
            font-weight: normal;
            font-size: 90%;
            color:#999999;
            padding:0 10px;
        }
        
        div.CA_event_detail > .fields > p > span{
            display: block;
            padding:0 10px;
            margin:0;
            font-size: 120%;
            font-weight: bolder;
        }
    
            
div.CA_event_detail  div.buttons{
    text-align: center;
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    height:50px;
    padding:0;
    margin:0;
}

    div.CA_event_detail  div.buttons > span{
        font-size: 100%;
        font-weight: bolder;
        margin:5px 10px;
        width:auto !important;
        min-width: none;
        border-radius: 5px;
        line-height:35px;
        cursor: pointer;
        display: inline-block;
        padding:3px 15px;
        background-color: #eee;
        border: 1px solid #DDDDDD;
    }

    div.CA_event_detail div.buttons > span:hover{
        background-color: white;
    }            
