html, body, .noSidebarCell, .sidebarCell .fixed {
  margin: 0 !important;
  padding: 0 !important;
  background: white; }

html {
  background: transparent; }

body.conga-transparent, body.conga-viewer {
  background: transparent !important; }

/* ----------------------------------------
SLDS Design Tokens
---------------------------------------- */
/* ----------------------------------------
Partials
---------------------------------------- */
/* ----------------------------------------
Project Styles
---------------------------------------- */
body .slds .conga {
  /*&-lookup {
        
    }*/ }
  body .slds .conga-notification {
    min-width: 0;
    width: 100%;
    display: block; }
    body .slds .conga-notification .slds-list--dotted {
      margin-left: 1rem;
      margin-top: 0.25rem; }
  body .slds .conga-hide {
    display: none !important; }
    @media (max-width: 48em) {
      body .slds .conga-hide--tablet {
        display: none !important; } }
    @media (max-width: 30em) {
      body .slds .conga-hide--phone {
        display: none !important; } }
  body .slds .conga-show {
    display: block !important; }
    body .slds .conga-show--inline {
      display: inline !important; }
    body .slds .conga-show--inline-block {
      display: inline-block !important; }
    body .slds .conga-show--flex {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important; }
    body .slds .conga-show--inline-flex {
      display: -webkit-inline-box !important;
      display: -webkit-inline-flex !important;
      display: -ms-inline-flexbox !important;
      display: inline-flex !important; }
    @media (max-width: 64em) {
      body .slds .conga-show--desktop {
        display: block !important; }
        body .slds .conga-show--desktop--inline {
          display: inline !important; }
        body .slds .conga-show--desktop--inline-block {
          display: inline-block !important; }
        body .slds .conga-show--desktop--flex {
          display: -webkit-box !important;
          display: -webkit-flex !important;
          display: -ms-flexbox !important;
          display: flex !important; }
        body .slds .conga-show--desktop--inline-flex {
          display: -webkit-inline-box !important;
          display: -webkit-inline-flex !important;
          display: -ms-inline-flexbox !important;
          display: inline-flex !important; } }
    @media (max-width: 48em) {
      body .slds .conga-show--tablet {
        display: block !important; }
        body .slds .conga-show--tablet--inline {
          display: inline !important; }
        body .slds .conga-show--tablet--inline-block {
          display: inline-block !important; }
        body .slds .conga-show--tablet--flex {
          display: -webkit-box !important;
          display: -webkit-flex !important;
          display: -ms-flexbox !important;
          display: flex !important; }
        body .slds .conga-show--tablet--inline-flex {
          display: -webkit-inline-box !important;
          display: -webkit-inline-flex !important;
          display: -ms-inline-flexbox !important;
          display: inline-flex !important; } }
    @media (max-width: 30em) {
      body .slds .conga-show--phone {
        display: block !important; }
        body .slds .conga-show--phone--inline {
          display: inline !important; }
        body .slds .conga-show--phone--inline-block {
          display: inline-block !important; }
        body .slds .conga-show--phone--flex {
          display: -webkit-box !important;
          display: -webkit-flex !important;
          display: -ms-flexbox !important;
          display: flex !important; }
        body .slds .conga-show--phone--inline-flex {
          display: -webkit-inline-box !important;
          display: -webkit-inline-flex !important;
          display: -ms-inline-flexbox !important;
          display: inline-flex !important; } }
  @media (max-width: 48em) {
    body .slds .conga-button--responsive {
      font-size: 0.6rem;
      line-height: 1.35rem;
      padding: 0 0.5rem; } }
  body .slds .conga-white-space--normal {
    white-space: normal; }
  body .slds .conga-white-space--nowrap {
    white-space: nowrap; }
  body .slds .conga-cursor--pointer {
    cursor: pointer; }
  body .slds .conga-cursor--default {
    cursor: default; }
  body .slds .conga-cursor--not-allowed {
    cursor: not-allowed; }
  body .slds .conga-pointer-events--none {
    pointer-events: none; }
  body .slds .conga-pointer-events--all {
    pointer-events: all; }
  body .slds .conga-opacity--25 {
    opacity: 0.25; }
  body .slds .conga-opacity--50 {
    opacity: 0.5; }
  body .slds .conga-opacity--75 {
    opacity: 0.75; }
  body .slds .conga-overflow--hidden {
    overflow: hidden; }
  body .slds .conga-overflow--scroll {
    overflow: scroll; }
  body .slds .conga-overflow--visible {
    overflow: visible; }
  body .slds .conga-position--static {
    position: static; }
  body .slds .conga-position--relative {
    position: relative; }
  body .slds .conga-position--absolute {
    position: absolute; }
  body .slds .conga-position--fixed {
    position: fixed; }
  body .slds .conga-vertical-align--top {
    vertical-align: top; }
  body .slds .conga-vertical-align--0 {
    vertical-align: 0; }
  body .slds .conga-vertical-align--middle {
    vertical-align: middle; }
  body .slds .conga-vertical-align--bottom {
    vertical-align: bottom; }
  body .slds .conga-flex-basis--0 {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0; }
  body .slds .conga-flex-basis--1 {
    -webkit-flex-basis: 1;
    -ms-flex-preferred-size: 1;
    flex-basis: 1; }
  body .slds .conga-word-break {
    word-break: break-word; }
  body .slds .conga-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  body .slds .conga-animated {
    -webkit-transition: all 50ms ease;
    transition: all 50ms ease; }
    @media (max-width: 64em) {
      body .slds .conga-animated {
        position: static !important; } }
  body .slds .conga-contract-icon {
    position: relative; }
    body .slds .conga-contract-icon__check-mark {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
    body .slds .conga-contract-icon__badge {
      font-size: 8px;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    body .slds .conga-contract-icon--is-active .conga-contract-icon__document {
      opacity: 0.25; }
    body .slds .conga-contract-icon--is-active .conga-contract-icon__check-mark {
      display: inline-block;
      opacity: 1; }
  body .slds .conga-icon-text-success {
    fill: #04844b; }
  body .slds .conga-redlines-iframe iframe {
    display: block;
    width: 100%;
    height: -webkit-calc(100% - 54px);
    height: calc(100% - 54px);
    position: absolute;
    top: 54px;
    left: 0;
    border: none; }
  body .slds .conga-redlines-iframe--classic iframe {
    display: block;
    position: absolute;
    width: 100%;
    height: -webkit-calc(100% - 73px);
    height: calc(100% - 73px);
    top: 73px;
    left: 0;
    border: none; }
    @media (max-width: 48em) {
      body .slds .conga-redlines-iframe--classic iframe {
        height: -webkit-calc(100% - 65px);
        height: calc(100% - 65px);
        top: 65px; } }
  body .slds .conga-redlines-toolbar {
    background: #061c3f;
    height: 55px;
    position: absolute;
    top: 0;
    color: white;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
    body .slds .conga-redlines-toolbar__control {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: rgba(255, 255, 255, 0.1);
      padding: 0 0.75rem;
      margin-top: 14px;
      border-radius: 0.125rem; }
      @media only screen and (max-width: 1024px) {
        body .slds .conga-redlines-toolbar__control {
          display: none; } }
    body .slds .conga-redlines-toolbar__title {
      max-width: -webkit-calc((100vw / 2) - 300px);
      max-width: calc((100vw / 2) - 300px); }
      @media (max-width: 64em) {
        body .slds .conga-redlines-toolbar__title {
          max-width: -webkit-calc(100vw - 180px);
          max-width: calc(100vw - 180px); } }
    body .slds .conga-redlines-toolbar select {
      font-size: 12px;
      color: #f2f2f2;
      margin: 0;
      padding: 3px 2px 2px;
      border: none;
      background: transparent;
      display: inline-block; }
    body .slds .conga-redlines-toolbar .dropdownToolbarButton {
      padding: 0 18px 0 8px;
      margin: 3px 2px 4px 0;
      max-width: none;
      min-width: 16px;
      font-size: 12px;
      line-height: 14px;
      width: auto;
      overflow: hidden;
      border: 1px solid rgba(0, 0, 0, 0.5);
      height: 24px;
      background-color: rgba(255, 255, 255, 0.05); }
      body .slds .conga-redlines-toolbar .dropdownToolbarButton_container {
        position: relative;
        display: inline-block; }
        body .slds .conga-redlines-toolbar .dropdownToolbarButton_container:before {
          content: '';
          display: inline-block;
          position: absolute;
          right: 10px;
          top: 11px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 2px 3px 2px;
          border-color: transparent transparent #ffffff transparent; }
        body .slds .conga-redlines-toolbar .dropdownToolbarButton_container:after {
          content: '';
          display: inline-block;
          position: absolute;
          right: 10px;
          bottom: 12px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 3px 2px 0 2px;
          border-color: #ffffff transparent transparent transparent; }
  body .slds .conga-redlines-button {
    display: inline-block;
    min-width: 16px;
    border: 1px solid rgba(0, 0, 0, 0.65);
    border-radius: 2px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
    -webkit-transition-property: background-color, border-color, box-shadow;
    transition-property: background-color, border-color, box-shadow;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    background-color: rgba(255, 255, 255, 0.09);
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
    padding: 4px 8px;
    top: -1px;
    position: relative; }
    body .slds .conga-redlines-button:hover {
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.11);
      border-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.43) rgba(0, 0, 0, 0.45); }
  body .slds .conga-redlines-subhead {
    position: relative;
    top: -1px; }
  body .slds .conga-tree__item {
    margin-bottom: 0.5rem;
    padding-top: 0.125rem; }
    body .slds .conga-tree__item a,
    body .slds .conga-tree__item a:visited {
      color: #0070d2; }
  body .slds .conga-multi-picklist-pills .slds-pill {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 0.25rem; }
  body .slds .conga-attachments .slds-item {
    padding-left: 0;
    padding-right: 0; }
    body .slds .conga-attachments .slds-item:first-child {
      border-top: none;
      padding-top: 0; }
  body .slds .conga-email-preview {
    border: none;
    width: 100%;
    min-height: 60vh; }
    body .slds .conga-email-preview-spinner {
      position: relative;
      height: 300px;
      background: #f0f1f2; }
      body .slds .conga-email-preview-spinner .slds-spinner_container {
        background: transparent; }
  body .slds .conga-email-info {
    max-height: 65vh; }
    @media (max-width: 64em) {
      body .slds .conga-email-info {
        max-height: none; } }
  body .slds .conga-contract-activity {
    position: relative;
    z-index: 1; }
    body .slds .conga-contract-activity__title {
      position: relative; }
      body .slds .conga-contract-activity__title .slds-tile__title {
        background: white;
        padding-right: 8px; }
      body .slds .conga-contract-activity__title .slds-icon {
        width: 0.75rem;
        height: 0.75rem;
        margin-left: 0.25rem; }
  body .slds .conga-timeline__media--uploaded:before {
    background: #cc6b85; }
  body .slds .conga-timeline__media--sent:before {
    background: #95aec5; }
  body .slds .conga-timeline__media--replied:before {
    background: #6b9ee2; }
  body .slds .conga-timeline__media--activated:before {
    background: #4bc076; }
  body .slds .conga-timeline__media--status-changed:before {
    background: #f59f71; }
  body .slds .conga-timeline__media--deleted:before {
    background: #d2bfc4; }
  body .slds .conga-timeline__media--switched:before {
    background: #8987d0; }
  body .slds .conga-timeline__icon--uploaded {
    background: #cc6b85; }
  body .slds .conga-timeline__icon--sent {
    background: #95aec5; }
  body .slds .conga-timeline__icon--replied {
    background: #6b9ee2; }
  body .slds .conga-timeline__icon--activated {
    background: #4bc076; }
  body .slds .conga-timeline__icon--status-changed {
    background: #f59f71; }
  body .slds .conga-timeline__icon--deleted {
    background: #d2bfc4; }
  body .slds .conga-timeline__icon--switched {
    background: #8987d0; }
  body .slds .conga-page-control {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease; }
    body .slds .conga-page-control--show {
      opacity: 1; }
    body .slds .conga-page-control--hide {
      opacity: 0; }
      @media (max-width: 48em) {
        body .slds .conga-page-control--hide {
          opacity: 1; } }
  body .slds .conga-setup-logo {
    max-width: 320px;
    margin-bottom: 1.5rem; }
  body .slds .conga-setup-container {
    /*background: #F4F6F9;*/ }
  body .slds .conga-setup-content {
    padding: 120px 0;
    width: 100%;
    max-width: 360px;
    z-index: -1;
    margin: 0 auto; }
  body .slds .conga-setup-body {
    background: #F4F6F9;
    box-sizing: border-box;
    min-height: 480px;
    height: 100%;
    position: relative; }
  body .slds .conga-pill_container .slds-pill {
    margin-top: 0.25rem;
    margin-right: 0; }
    body .slds .conga-pill_container .slds-pill:hover {
      background: white; }
    body .slds .conga-pill_container .slds-pill + .slds-pill {
      margin-left: 0; }
  body .slds .conga-inline-spinner {
    display: inline-block;
    position: static;
    background-color: transparent;
    margin-left: 0.7rem;
    margin-right: 0.5rem;
    margin-top: 10px;
    margin-bottom: 3px; }
    body .slds .conga-inline-spinner .slds-spinner {
      display: inline-block;
      position: static;
      width: 1rem;
      vertical-align: 0.25rem; }
  body .slds .conga-textarea--tall {
    height: 140px; }
  body .slds .conga-iframe {
    width: 100%;
    border: 1px solid #d8dde6;
    border-radius: 0.125rem; }
  body .slds .conga-dimension-listener {
    position: fixed;
    z-index: 9999;
    right: 0;
    bottom: 0; }
  body .slds .conga-dimension-controller {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  body .slds .conga-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent; }
  body .slds .conga-view-redlines-vf {
    border: none;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  body .slds .conga-close-button {
    cursor: pointer;
    z-index: 99999;
    position: fixed;
    left: -webkit-calc(100% - 28px);
    left: calc(100% - 28px);
    top: 72px; }
  body .slds .conga-filename-flex {
    width: 0; }
  body .slds .conga-z-index--max {
    z-index: 9999; }
  body .slds .conga-z-index--9999 {
    z-index: 9999; }
  body .slds .conga-z-index--0 {
    z-index: 0; }
  body .slds .conga-z-index---1 {
    z-index: -1; }
  body .slds .conga-changed {
    background-color: #faffbd; }
    body .slds .conga-changed--transparent {
      background-color: rgba(250, 255, 189, 0.35); }
  @media (max-width: 48em) {
    body .slds .conga-list--horizontal {
      display: block;
      list-style: none; }
      body .slds .conga-list--horizontal .slds-item:after {
        display: none; }
      body .slds .conga-list--horizontal .slds-item:before {
        width: 2px;
        height: 2px;
        content: '';
        margin-left: 0;
        margin-right: 0.5rem;
        border-radius: 50%;
        background-color: #54698d; }
      body .slds .conga-list--horizontal .slds-item .slds-badge {
        line-height: 2; } }
  @media (max-width: 64em) {
    body .slds .conga-compare-selector {
      display: none; } }

/* ----------------------------------------
Overrides
---------------------------------------- */
body .slds .slds-pill.slds-has-error {
  background-color: #fff;
  border-color: #c23934;
  box-shadow: #c23934 0 0 0 1px inset;
  background-clip: padding-box; }

body .slds .slds-media--timeline .slds-tile__title:after {
  position: absolute;
  right: 0;
  bottom: .5rem;
  left: 0;
  border-bottom: 1px dashed #d8dde6;
  content: '';
  z-index: -1; }

@media (max-width: 30em) {
  body .slds .slds-lookup__menu {
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16); } }

@media (max-width: 30em) {
  body .slds .slds-lookup__list {
    max-height: 110px; } }

@media (max-width: 48em) {
  body .slds .slds-breadcrumb {
    display: none; } }

.cke_chrome {
  border: 1px solid #d8dde6;
  border-radius: 0.25rem;
  box-shadow: none;
  overflow: hidden; }

a.cke_button {
  height: 26px;
  cursor: pointer; }

.cke_toolgroup {
  border: 1px solid #d8dde6;
  background: white;
  box-shadow: none; }

a.cke_button_off:hover, a.cke_button_off:focus, a.cke_button_off:active, a.cke_button_disabled:hover, a.cke_button_disabled:focus, a.cke_button_disabled:active {
  background: #f4f6f9;
  box-shadow: none; }

.cke_button_on {
  background: #eef1f6;
  box-shadow: none; }

.cke_top {
  background: #f4f6f9;
  border-bottom: 1px solid #d8dde6; }

.cke_toolbar:nth-child(3), .cke_toolbar:nth-child(4), .cke_toolbar:nth-child(5) .cke_toolgroup a:nth-child(3), .cke_toolbar:nth-child(5) .cke_toolgroup a:nth-child(4) {
  display: none; }

.conga-viewer {
  font-family: "Salesforce Sans", Arial, sans-serif;
  background: transparent; }
  .conga-viewer * {
    box-shadow: none !important; }
  .conga-viewer select::-ms-expand {
    display: none; }
  .conga-viewer .conga-top-toolbar__centered-content {
    position: absolute;
    left: 50%;
    top: 6px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .conga-viewer .conga-top-toolbar .dropdownToolbarButton {
    position: relative;
    top: 9px;
    background: transparent; }
  .conga-viewer #viewer .page {
    -o-border-image: none;
    border-image: none;
    background: transparent;
    border: none;
    margin: 1.5rem auto; }
  .conga-viewer #thumbnailView {
    width: 200px; }
  .conga-viewer .thumbnail > :first-child {
    height: auto !important; }
  .conga-viewer #mainContainer {
    background: rgba(126, 140, 153, 0.8); }
  .conga-viewer #toolbarContainer {
    background: #061c3f;
    height: auto;
    position: absolute;
    top: 0;
    color: white; }
  .conga-viewer #toolbarSidebar {
    background: #061c3f;
    height: auto; }
    .conga-viewer #toolbarSidebar .splitToolbarButton {
      margin: 6px 2px 1px 7px; }
  .conga-viewer #sidebarContent {
    background: #16325c;
    top: 36px; }
  .conga-viewer #viewerContainer {
    top: 36px; }
  .conga-viewer .dropdownToolbarButton {
    margin: 0;
    width: auto;
    max-width: none; }
    .conga-viewer .dropdownToolbarButton > select {
      min-width: 0;
      -moz-appearance: none;
      -webkit-appearance: none;
      padding-left: 6px;
      border-radius: 1px; }
  .conga-viewer #toolbarViewer {
    position: relative;
    margin: 2px 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.32);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.08); }
    .conga-viewer #toolbarViewer .dropdownToolbarButton {
      margin-top: 6px;
      max-width: none !important; }
  .conga-viewer .findbar,
  .conga-viewer .secondaryToolbar {
    top: 46px;
    background: #061c3f; }
  .conga-viewer html[dir=ltr] .findbar {
    left: 58px; }
  .conga-viewer .doorHanger:after,
  .conga-viewer .doorHanger:before,
  .conga-viewer .doorHangerRight:after,
  .conga-viewer .doorHangerRight:before,
  .conga-viewer .doorHanger:after,
  .conga-viewer .doorHangerRight:after {
    border-bottom-color: #061c3f; }
  .conga-viewer #overlayContainer > .container > .dialog {
    background: #061c3f; }
  .conga-viewer #viewBookmark, .conga-viewer #secondaryViewBookmark {
    display: none; }
  .conga-viewer #openFile, .conga-viewer #secondaryOpenFile {
    display: none; }
  .conga-viewer #documentPropertiesClose {
    background-color: rgba(255, 255, 255, 0.09);
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
    padding: 4px 8px; }
    .conga-viewer #documentPropertiesClose:hover {
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.11);
      border-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.43) rgba(0, 0, 0, 0.45); }

/*# sourceMappingURL=main.css.map */
