<?xml version="1.0" encoding="utf-8"?>
<CustomField xmlns="http://soap.sforce.com/2006/04/metadata">
    <fullName>SpringCMEos__Include_Sub_Folders__c</fullName>
    <defaultValue>false</defaultValue>
    <deprecated>false</deprecated>
    <label>Include Sub Folders</label>
    <trackTrending>false</trackTrending>
    <type>Checkbox</type>
</CustomField>
