<?xml version="1.0" encoding="utf-8"?>
<CustomField xmlns="http://soap.sforce.com/2006/04/metadata">
    <fullName>SpringCMEos__My_Domain__c</fullName>
    <deprecated>false</deprecated>
    <label>My Domain</label>
    <required>true</required>
    <trackTrending>false</trackTrending>
    <type>Url</type>
</CustomField>
