@font-face {
  font-family: 'IBM Plex Sans';
  src: url(../fonts/ibmPlexSans/IBMPlexSans-Light.otf?orgId=00D40000000MnHl);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url(../fonts/ibmPlexSans/IBMPlexSans-Regular.otf?orgId=00D40000000MnHl);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url(../fonts/ibmPlexSans/IBMPlexSans-Medium.otf?orgId=00D40000000MnHl);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url(../fonts/ibmPlexSans/IBMPlexSans-Bold.otf?orgId=00D40000000MnHl);
  font-weight: 700;
  font-style: normal;
}

.buddyBackground {
  background: url(../images/buddy.png) bottom left no-repeat;
  height: 100%;
  width: 100%;
}

.kbTexture {
  background: url(../images/kbTexture.png) no-repeat;
  background-size: contain;
}