<?xml version="1.0" encoding="utf-8"?>
<CustomField xmlns="http://soap.sforce.com/2006/04/metadata">
    <fullName>SpringCMEos__Dynamic_Search_Widget_Configuration__c</fullName>
    <deleteConstraint>SetNull</deleteConstraint>
    <deprecated>false</deprecated>
    <label>Get It! Configuration</label>
    <referenceTo>SpringCMEos__DSWConfig__c</referenceTo>
    <relationshipLabel>SpringCM Attribute Groups</relationshipLabel>
    <relationshipName>SpringCM_Attribute_Groups</relationshipName>
    <required>false</required>
    <trackTrending>false</trackTrending>
    <type>Lookup</type>
</CustomField>
