	.grayBackground {
		position: absolute;
		z-index: 998;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url("pixel.png");
	}
	.helpMessage {
		border: 5px solid #cdcdcd;
		border-radius: 5px;
		background: #eee url('images/ui-bg_highlight-soft_100_eeeeee_1x100.png') repeat-x;
		color: #006;
		position: absolute;
		z-index: 999;
		top: 60px;
		left: 20%;
		width: 60%;
		overflow:auto;
		padding: 15px;
	}
	.helpMessage .title {
		color: #FF0084;
		background-color: #fefefe;
		padding: 3px;
		border: 1px solid #ddd;
		border-radius: 3px;
		font-size: 16px;
		padding: 8px;
	}
	.helpImage {
		margin: 10px auto;
	}
	.scrollHidden {
		height: 100%;
		position: relative;
		overflow: hidden;
	}
	.closeHelpWnd {
		color: red;
		text-decoration: none;
	}
	.closeHelpWnd:hover {
		color: blue;
	}
	.helpButton {
		float: right;
	}
	.helpLink {
		font-size:10px;
		color:#88c;
	}
	.helpLink:hover {
		color:#000;
	}