<?xml version="1.0" encoding="utf-8"?>
<CustomField xmlns="http://soap.sforce.com/2006/04/metadata">
    <fullName>SpringCMEos__DataType__c</fullName>
    <deprecated>false</deprecated>
    <label>DataType</label>
    <required>false</required>
    <trackTrending>false</trackTrending>
    <type>Picklist</type>
    <valueSet>
        <valueSetDefinition>
            <sorted>false</sorted>
            <value>
                <fullName>String</fullName>
                <default>true</default>
                <label>String</label>
            </value>
            <value>
                <fullName>Number</fullName>
                <default>false</default>
                <label>Number</label>
            </value>
            <value>
                <fullName>Date</fullName>
                <default>false</default>
                <label>Date</label>
            </value>
            <value>
                <fullName>DropDown</fullName>
                <default>false</default>
                <label>DropDown</label>
            </value>
            <value>
                <fullName>Decimal</fullName>
                <default>false</default>
                <label>Decimal</label>
            </value>
            <value>
                <fullName>MagicDropDown</fullName>
                <default>false</default>
                <label>MagicDropDown</label>
            </value>
            <value>
                <fullName>Cascade</fullName>
                <default>false</default>
                <label>Cascade</label>
            </value>
        </valueSetDefinition>
    </valueSet>
</CustomField>
